---
import NavElement from './NavElement.astro'
---

<nav class="relative ">
    <ul>
        <li>
            <NavElement href="index.php" page="Home" />
        </li>
    </ul>
</nav>

<style>

</style>